@{ Layout = null;}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>JRM Portfolio</title>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom fonts for this template -->
    <link href="~/fonts/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="~/Content/grayscale.min.css" rel="stylesheet" />
    <link href="~/Templates/CSS/prism.css" rel="stylesheet" />

</head>

<body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top"></a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#signup">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
        <div class="container d-flex h-100 align-items-center">
            <div class="mx-auto text-center">
                <h1 class="mx-auto my-0 text-uppercase">John Monteith</h1>
                <h2 class="text-white-50 mx-auto mt-2 mb-5">Welcome to my Project Portfolio!</h2>
                <a href="#about" class="btn btn-primary js-scroll-trigger">Let's Get Started</a>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="about-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2 class="text-white mb-4">Getting to know John</h2>
                    <p class="text-white-50">
                        Please <a href="http://startbootstrap.com/template-overviews/grayscale/">click here</a> to view my ?.
                    </p>
                </div>
            </div>
            <img src="~/img/ipad.png" class="img-fluid" alt="" />
        </div>
    </section>

    <!-- Projects Section -->
    <section id="projects" class="projects-section bg-light">
        <div class="container">

            <!-- Featured Project Row -->
            <div class="row align-items-center no-gutters mb-4 mb-lg-5">
                <div class="col-xl-8 col-lg-7">
                    <img class="img-fluid mb-3 mb-lg-0" src="~/img/bg-masthead.jpg" alt="" />
                </div>
                <div class="col-xl-4 col-lg-5">
                    <div class="featured-text text-center text-lg-left">
                        <h4 class=" text-center">TBD</h4>
                        <p class="text-black-50 mb-0 text-center">Reserved for future project.</p>
                    </div>
                </div>
            </div>

            <!-- Projects One Row -->
            <div class="row justify-content-center no-gutters">
                <div class="col-lg-6">
                    <img class="img-fluid" src="~/img/Addition.jpg" alt="" />
                </div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h4 class="text-white text-center">5 Numbers</h4>
                                <p class="mb-0 text-white-50 text-center">Basic math fun!</p>
                                <hr class="d-none d-lg-block mb-0 mr-20">
                                <div class="col d-flex justify-content-center" style="margin-top: 15px;">
                                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal1">
                                        5 Numbers
                                    </button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Project Two Row -->
            <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                <div class="col-lg-6">
                    <img class="img-fluid" data-toggle="modal" data-target="#modal1" src="~/img/Multiply1.jpg" alt="" />
                </div>
                <div class="col-lg-6 justify-content-center">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white text-center">Factorial</h4>
                                <p class="mb-0 text-white-50 text-center">Find the factorial of a number!</p>
                                <hr class="d-none d-lg-block mb-0 ml-20">
                                <div class="col d-flex justify-content-center" style="margin-top: 15px;">
                                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal2">
                                        Factorial
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Project Three Row-->
            <div class="row justify-content-center no-gutters">
                <div class="col-lg-6">
                    <img class="img-fluid" src="~/img/Fizzy1.jpg" style="filter: grayscale(100%)" alt="" />
                </div>
                <div class="col-lg-6 order-lg-first">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-right">
                                <h4 class="text-white text-center">FizzBuzz</h4>
                                <p class="mb-0 text-white-50 text-center">Always entertaining results</p>
                                <hr class="d-none d-lg-block mb-0 mr-20">
                                <div class="col d-flex justify-content-center" style="margin-top: 15px;">
                                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal3">
                                        FizzBuzz
                                    </button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Project Four Row-->
            <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                <div class="col-lg-6">
                    <img class="img-fluid" data-toggle="modal" data-target="#modal1" src="https://d3qdvvkm3r2z1i.cloudfront.net/media/catalog/product/cache/1/image/1800x/6b9ffbf72458f4fd2d3cb995d92e8889/t/a/tacocat_newthumb.png" style="filter: grayscale(100%)" alt="" />
                </div>
                <div class="col-lg-6 justify-content-center">
                    <div class="bg-black text-center h-100 project">
                        <div class="d-flex h-100">
                            <div class="project-text w-100 my-auto text-center text-lg-left">
                                <h4 class="text-white text-center">Palindrome</h4>
                                <p class="mb-0 text-white-50 text-center">Is your word a palindrome?</p>
                                <hr class="d-none d-lg-block mb-0 ml-20">
                                <div class="col d-flex justify-content-center" style="margin-top: 15px;">
                                    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#modal4">
                                        Palindrome
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

    <!-- Signup Section -->
    <section id="signup" class="signup-section">
        <div class="container">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto text-center">

                    <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                    <h2 class="text-white mb-5">Join my mailing list for updates!</h2>

                    <form class="form-inline d-flex">
                        <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
                        <button type="submit" class="btn btn-primary mx-auto">Join</button>
                    </form>

                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section class="contact-section bg-black">
        <div class="container">

            <div class="row">

                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Address</h4>
                            <hr class="my-4">
                            <div class="small text-black-50">1231 Shields Rd #5, Kernersville, NC 27284</div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-envelope text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Email</h4>
                            <hr class="my-4">
                            <div class="small text-black-50">
                                <a href="#">hello@yourdomain.com</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 mb-3 mb-md-0">
                    <div class="card py-4 h-100">
                        <div class="card-body text-center">
                            <i class="fas fa-mobile-alt text-primary mb-2"></i>
                            <h4 class="text-uppercase m-0">Phone</h4>
                            <hr class="my-4">
                            <div class="small text-black-50">(336) 231-8632</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="social d-flex justify-content-center">
                <a href="#" class="mx-2">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="#" class="mx-2">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <a href="#" class="mx-2">
                    <i class="fab fa-github"></i>
                </a>
            </div>

        </div>
    </section>

    <!-- Footer -->
    <footer class="bg-black small text-center text-white-50">
        <div class="container">
            Copyright &copy; Your Website 2019
        </div>
    </footer>

    <!--Put modal code here-->
    <!--Modal 1-->
    <div class="modal" id="modal1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <div class="col-md-12">
                        <h2 class="modal-title text-center">Math Fun with 5 Numbers</h2>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <!--Number input area-->
                    <div class="row">
                        <div class="col-md-8">Enter first number: <input id="input1" /></div>
                        <div class="col-md-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-8" style="margin-top: 15px;">Enter second number: <input id="input2" /></div>
                        <div class="col-md-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-8" style="margin-top: 15px;">Enter third number: <input id="input3" /></div>
                        <div class="col-md-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-8" style="margin-top: 15px;">Enter fourth number: <input id="input4" /></div>
                        <div class="col-md-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-8" style="margin-top: 15px;">Enter fifth number: <input id="input5" /></div>
                        <div class="col-md-4"></div>
                    </div>

                    <!--Result output area-->
                    <div class="row">
                        <div class="col-md-12" style="margin-top: 20px;">
                            <p>The smallest number is: <span class="border border-primary px-3" style="margin-left: 5px;"><id id="outputLow" /></span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="margin-top: 10px;">
                            <p>The largest number is: <span class="border border-primary px-3" style="margin-left: 5px;"><id id="outputHigh" /></span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="margin-top: 10px;">
                            <p>The sum of the numbers is: <span class="border border-primary px-3" style="margin-left: 5px;"><id id="outputSum" /></span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="margin-top: 10px;">
                            <p>The product of the numbers is: <span class="border border-primary px-3" style="margin-left: 5px;"><id id="outputProduct" /></span></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12" style="margin-top: 10px;">
                            <p>The mean of the numbers is: <span class="border border-primary px-3" style="margin-left: 5px;"><id id="outputMean" /></span></p>
                        </div>
                    </div>

                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button onclick="Calculate()" id="btnCalculate" class="btn btn-success btn-wide">Calculate</button>
                    <button onclick="ClearInput()" id="btnCalculate" class="btn btn-primary btn-wide">Clear</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-warning btn-wide" id="FNumbers" onclick="ToggleCode('FNumbersCode', 'FNumbers')">Show Code</button>
                </div>

                @*Code for display*@
                <div id="FNumbersCode" style="display:none">
                    <pre><code class="language-js">
            
    function Calculate() {

    var num1 = parseInt(document.getElementById("input1").value);
    var num2 = parseInt(document.getElementById("input2").value);
    var num3 = parseInt(document.getElementById("input3").value);
    var num4 = parseInt(document.getElementById("input4").value);
    var num5 = parseInt(document.getElementById("input5").value);

    if (isNaN(num1) || isNaN(num2) || isNaN(num3) || isNaN(num4) || isNaN(num5)) {
    alert("Please enter numbers only");
    ClearInput();
    return;
    }
    var min = Math.min(num1, num2, num3, num4, num5);
    var max = Math.max(num1, num2, num3, num4, num5);
    var sum = (num1 + num2 + num3 + num4 + num5);
    var product = (num1 * num2 * num3 * num4 * num5);
    var mean = (sum / 5);

    //Provide answers
    outputLow.innerHTML = min;
    outputHigh.innerHTML = max;
    outputSum.innerHTML = sum;
    outputProduct.innerHTML = product;
    outputMean.innerHTML = mean;
    }

    //Clear wrong input
    function ClearInput() {
    document.getElementById("input1").value = "";
    document.getElementById("input2").value = "";
    document.getElementById("input3").value = "";
    document.getElementById("input4").value = "";
    document.getElementById("input5").value = "";
    document.getElementById("outputLow").innerHTML="";
    document.getElementById("outputHigh").innerHTML="";
    document.getElementById("outputSum").innerHTML="";
    document.getElementById("outputProduct").innerHTML="";
    document.getElementById("outputMean").innerHTML="";

    }
</code></pre>
                </div>


            </div>
        </div>
    </div>

    <!--Modal 2-->
    <div class="modal" id="modal2">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <div class="col-md-12">
                        <h2 class="modal-title text-center">Factorial</h2>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                </div>

                <!-- Modal body -->
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-center">This will calculate the factorial of a number</h4>
                    </div>
                </div>
                <div class="row" style="margin-top:10px;">
                    <div class="col-md-12">
                        <h6 class="text-center" style="margin-bottom: 30px;">Please use a number less than 171</h6>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8" style="margin-left: 20px;">Enter your number: <input id="inputFctr" /></div>
                    <div class="col-md-4"></div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="margin-top: 20px; margin-left: 20px;">
                        <p>Factorial is: <span class="border border-primary px-3" style="margin-left: 5px;"><id id="outputFactorial" /></span></p>
                    </div>
                </div>



                <!-- Modal footer -->
                <div class="modal-footer">
                    <button onclick="Calculate2()" id="btnCalculate" class="btn btn-success btn-wide">Calculate</button>
                    <button onclick="ClearInput2()" id="btnCalculate" class="btn btn-primary btn-wide">Clear</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-warning btn-wide" id="FactorBtn" onclick="ToggleCode('FactorCode', 'FactorBtn')">Show Code</button>
                </div>

                @*Code for display*@
                <div id="FactorCode" style="display:none">
                    <pre rel="JavaScript"><code class="lang-javascript">
    function Calculate2() {
    //Get input
    var numF1 = parseInt(document.getElementById("inputFctr").value);

    //Validate input
    if (isNaN(numF1)) {
    alert("Please enter a number only");
    ClearInput2();
    return;

    }
    if (numF1 >= 171) {
    alert("Please enter a number lower than 171");
    ClearInput2();
    return;
    }

    if (numF1 <= 0) {
    alert("Please enter a positive integer only");
    ClearInput2();
    return;
    }

    //Calculate answer
    var res = 1;

    for (i = 1; i <= (numF1); i++) {

    res *= i;

    }

    //Provide answers
    outputFactorial.innerHTML = res;
    }

    //Clear wrong input
    function ClearInput2() {
    document.getElementById("inputFctr").value = "";
    document.getElementById("outputFactorial").innerHTML = "";
    }

</code></pre>
                </div>

            </div>
        </div>
    </div>

    <!--Modal 3-->
    <div class="modal" id="modal3">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <div class="col-md-12">
                        <h2 class="modal-title text-center">FizzBuzz</h2>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                </div>


                <!-- Modal body -->
                <!--Intro and input-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="text-center font-weight-bolder">
                            Enter two numbers and see which numbers between 1 and 100 are "Fizz", "Buzz" or "FizzBuzz"!
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="margin-top: 15px; margin-left: 20px;">
                        Enter your first number:  <input type="number" id="inputFb1" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="margin-top: 15px; margin-left: 20px;">
                        Enter your second number:  <input type="number" id="inputFb2" />
                    </div>
                </div>

                <!--Output-->
                <div class="row">
                    <div class="col-md-12" style="margin-top: 20px;">
                        <p style="margin-left: 10px; margin-right: 10px;" id="result"></p>
                    </div>
                </div>


                <!-- Modal footer -->
                <div class="modal-footer">
                    <button onclick="Evaluate1()" id="btnEvaluate" class="btn btn-success btn-wide">Evaluate</button>
                    <button onclick="ClearInput3()" id="btnCalculate" class="btn btn-primary btn-wide">Clear</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-warning btn-wide" id="FizzBtn" onclick="ToggleCode('FizzCode', 'FizzBtn')">Show Code</button>
                </div>

                @*Code for display*@
                <div id="FizzCode" style="display:none">
                    <pre rel="JavaScript"><code class="lang-javascript">

    function Evaluate1() {
    //Get input
    var array = [];
    var numFb1 = parseInt(document.getElementById("inputFb1").value);
    var numFb2 = parseInt(document.getElementById("inputFb2").value);

    //Validate input
    if (isNaN(numFb1) || isNaN(numFb2)) {
    alert("Please enter a number only");
    ClearInput3();
    return;

    }
    if (numFb1 >= 101 || numFb2 >= 101 || numFb1 <= 0 || numFb2 <= 0) {
    alert("Please enter a number between 1 and 100");
    ClearInput3();
    return;
    }

    //Evaluate for solution and display
    for (i = 1; i <= 100; i++) {
    if (i % numFb1 == 0 && i % numFb2 == 0) {
    array.push("FizzBuzz");
    }
    else if (i % numFb1 == 0 && i % numFb2 != 0) {
    array.push("Fizz");
    }
    else if (i % numFb1 != 0 && i % numFb2 == 0) {
    array.push("Buzz");
    }
    else {
    array.push(i);
    }
    }
    document.getElementById("result").innerHTML = array.join(" , ");

    }

    //Clear input
    function ClearInput3() {
    document.getElementById("inputFb1").value = "";
    document.getElementById("inputFb2").value = "";
    document.getElementById("result").innerHTML = "";

    }

</code></pre>
                </div>

            </div>
        </div>
    </div>

    <!--Modal 4-->
    <div class="modal" id="modal4">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <div class="col-md-12">
                        <h2 class="modal-title text-center">Palindrome</h2>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                </div>

                <!-- Modal body -->
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="text-center">See if your word is a palindrome!</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="margin-top: 15px; margin-left: 20px;">Enter your word:  <input type="text" id="inputP" /></div>
                </div>
                <div class="row">
                    <div class="col-md-12" style="margin-top: 20px; margin-left: 20px;">
                        <p id="answer"></p>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button onclick="Evaluate2()" id="btnEvaluate" class="btn btn-success btn-wide">Evaluate</button>
                    <button onclick="ClearInput4()" id="btnClear" class="btn btn-primary btn-wide">Clear</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-warning btn-wide" id="PalBtn" onclick="ToggleCode('PalCode', 'PalBtn')">Show Code</button>
                </div>

                @*Code for display*@
                <div id="PalCode" style="display:none">
                    <pre rel="JavaScript"><code class="lang-javascript">
    //Palindrome script

    function Evaluate2() {

    //Get input and validate

    var word1 = document.getElementById("inputP").value;

    //Evaluate for solution and display

    var word2 = word1.toLowerCase();
    var rmvspc = word2.replace(/\s/g, '');
    var toArray = rmvspc.split('');
    var eval = toArray.reverse();
    if (eval.join('') === rmvspc) {
    answer.innerHTML = "Congratulations! Your word is a palindrome";
    } else {
    answer.innerHTML = "I'm sorry your word is not a palindrome";
    }

    }

    //Clear input
    function ClearInput4() {
    document.getElementById("inputP").value = "";
    document.getElementById("answer").innerHTML = "";
    }

</code></pre>
                </div>
            </div>
        </div>
    </div>

    <!--Scripts-->
    <script>
        //5 Numbers script
        function Calculate() {

            var num1 = parseInt(document.getElementById("input1").value);
            var num2 = parseInt(document.getElementById("input2").value);
            var num3 = parseInt(document.getElementById("input3").value);
            var num4 = parseInt(document.getElementById("input4").value);
            var num5 = parseInt(document.getElementById("input5").value);

            if (isNaN(num1) || isNaN(num2) || isNaN(num3) || isNaN(num4) || isNaN(num5)) {
                alert("Please enter numbers only");
                ClearInput();
                return;
            }
            var min = Math.min(num1, num2, num3, num4, num5);
            var max = Math.max(num1, num2, num3, num4, num5);
            var sum = (num1 + num2 + num3 + num4 + num5);
            var product = (num1 * num2 * num3 * num4 * num5);
            var mean = (sum / 5);

            //Provide answers
            outputLow.innerHTML = min;
            outputHigh.innerHTML = max;
            outputSum.innerHTML = sum;
            outputProduct.innerHTML = product;
            outputMean.innerHTML = mean;
        }

        //Clear wrong input
        function ClearInput() {
            document.getElementById("input1").value = "";
            document.getElementById("input2").value = "";
            document.getElementById("input3").value = "";
            document.getElementById("input4").value = "";
            document.getElementById("input5").value = "";
            document.getElementById("outputLow").innerHTML = "";
            document.getElementById("outputHigh").innerHTML = "";
            document.getElementById("outputSum").innerHTML = "";
            document.getElementById("outputProduct").innerHTML = "";
            document.getElementById("outputMean").innerHTML = "";

        }

        //Factorial script
        function Calculate2() {
            //Get input
            var numF1 = parseInt(document.getElementById("inputFctr").value);

            //Validate input
            if (isNaN(numF1)) {
                alert("Please enter a number only");
                ClearInput2();
                return;

            }
            if (numF1 >= 171) {
                alert("Please enter a number lower than 171");
                ClearInput2();
                return;
            }

            if (numF1 <= 0) {
                alert("Please enter a positive integer only");
                ClearInput2();
                return;
            }

            //Calculate answer
            var res = 1;

            for (i = 1; i <= (numF1); i++) {

                res *= i;

            }

            //Provide answers
            outputFactorial.innerHTML = res;
        }

        //Clear wrong input
        function ClearInput2() {
            document.getElementById("inputFctr").value = "";
            document.getElementById("outputFactorial").innerHTML = "";
        }

        //FizzBuzz script
        function Evaluate1() {
            //Get input
            var array = [];
            var numFb1 = parseInt(document.getElementById("inputFb1").value);
            var numFb2 = parseInt(document.getElementById("inputFb2").value);

            //Validate input
            if (isNaN(numFb1) || isNaN(numFb2)) {
                alert("Please enter a number only");
                ClearInput3();
                return;

            }
            if (numFb1 >= 101 || numFb2 >= 101 || numFb1 <= 0 || numFb2 <= 0) {
                alert("Please enter a number between 1 and 100");
                ClearInput3();
                return;
            }

            //Evaluate for solution and display
            for (i = 1; i <= 100; i++) {
                if (i % numFb1 == 0 && i % numFb2 == 0) {
                    array.push("<b style='color: green;'>FizzBuzz</b>");
                }
                else if (i % numFb1 == 0 && i % numFb2 != 0) {
                    array.push("<b style='color: blue;'>Fizz</b>");
                }
                else if (i % numFb1 != 0 && i % numFb2 == 0) {
                    array.push("<b style='color: red;'>Buzz</b>");
                }
                else {
                    array.push("<b style='color: black;'>"+i+"</b>");
                }
            }
            document.getElementById("result").innerHTML = array.join(" , ");

        }

        //Clear input
        function ClearInput3() {
            document.getElementById("inputFb1").value = "";
            document.getElementById("inputFb2").value = "";
            document.getElementById("result").innerHTML = "";

        }

        //Palindrome script

        function Evaluate2() {

            //Get input and validate

            var word1 = document.getElementById("inputP").value;

            //Evaluate for solution and display

            var word2 = word1.toLowerCase();
            var rmvspc = word2.replace(/\s/g, '');
            var toArray = rmvspc.split('');
            var eval = toArray.reverse();
            if (eval.join('') === rmvspc) {
                answer.innerHTML = "Congratulations! Your word is a palindrome";
            } else {
                answer.innerHTML = "I'm sorry your word is not a palindrome";
            }

        }

        //Clear input
        function ClearInput4() {
            document.getElementById("inputP").value = "";
            document.getElementById("answer").innerHTML = "";
        }

        //Show-Hide code function
        function ToggleCode(toggleCode, toggleButton) {
            let correctCode = document.getElementById(toggleCode);
            let correctBtn = document.getElementById(toggleButton);
            if (correctCode.style.display === "none") {
                correctCode.style.display = "block";
                correctBtn.innerHTML = "Hide Code";
            }
            else {
                correctCode.style.display = "none";
                correctBtn.innerHTML = "Show Code";
            }
        }

    </script>




    <!-- Start JavaScript code-->
    <!-- Bootstrap core JavaScript -->
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="~/Scripts/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="~/Scripts/grayscale.min.js"></script>
    <script src="~/Templates/JS/prism.js"></script>

</body>

</html>
